body {
    background: #fff9c4; 
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
    padding: 20px; 
}

p, h4 {
    margin-bottom: 0;
}

h4 {
    font-size: 16px;
}

/* заголовок первого уровня и шрифт с засечками */
h1 {
    font-family: "Times New Roman", serif;
}

/* списки */
ul, ol {
    margin: 0;
}

/* таблица */
table {
    border-collapse: collapse;
    width: 100%;
}

table tr td {
    padding: 5px;
}

/* картинка */
img {
    height: 80px;   /* котик станет заметно больше */
    width: auto;
    margin-bottom: 10px; /* чуть ниже отступ */
}
